@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

/* ========== 공통 영역 ========== */
.wrap {
  position: relative;
}
.inner {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.section_title {
  color: var(--white);
  font-size: 2rem;
  padding: 1rem 2.5rem;
  background: var(--navy);
  border-radius: 2rem 0 2rem 0;
  box-shadow: 4px 4px 5px rgb(0 0 0 / 10%);
  margin-bottom: 3rem;
}

@media screen and (max-width: 1300px) {
  .inner {
    padding: 0 3rem;
  }
}

/* ========== 사이트맵 영역 ========== */
.sitemap {
  position: relative;
  height: 85%;
  max-height: 100%;
  display: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  background: var(--white);
}
/* .sitemap_dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, .2);
  z-index: 9;
} */

.sitemap_active {
  display: block;
  z-index: 9999;
}
.sitemap .inner {
  display: flex;
  height: 100%;
}
.sitemap_main {
  color: var(--white);
  font-family: var(--mont);
  font-size: 2.4rem;
  width: 18rem;
  height: 100%;
  background: url("../images/allmenu_bg.png") no-repeat top/cover;
  background-size: 150%;
}
.sitemap_main h2 {
  transform: rotate(90deg);
  margin-top: 30rem;
}
.sitemap_gnb {
  display: flex;
  width: 100%;
  overflow-y: scroll;
  margin-top: 4rem;
}

.gnb1 {
  width: 16.6%;
  padding: 0 2rem;
  border-left: 1px solid #ddd;
}

.gnb1 > a {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.gnb2 > li > a {
  display: block;
  font-size: 1.6rem;
  line-height: 2;
}

.sitemap_gnb .gnb2 > li > a:hover {
  font-weight: bold !important;
}

.gnb3 {
  margin-bottom: 2rem;
}

.gnb3 li {
  position: relative;
  padding-left: 1.5rem;
}

.gnb3 li:hover a {
  font-weight: bold;
  text-decoration: underline;
}
.gnb3 li a {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8;
  word-break: keep-all;
}

.gnb3 li a::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 0.5rem;
  height: 1px;
  background: #747474;
}
.sitemap_close {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 4rem;
  height: 4rem;
  background: transparent;
  cursor: pointer;
}

.sitemap_close img {
  width: 100%;
  transform: rotate(45deg);
}

.link {
  position: relative;
  padding-right: 1.5rem;
}

.link::after {
  content: "";
  position: absolute;
  top: 0.7rem;
  right: 0;
  width: 16px;
  height: 16px;
  background: url("../images/link.png") no-repeat center/contain;
  cursor: pointer;
}

/* ========== 헤더 영역 ========== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 99;
}

/* header hover */
.header_hover {
  background: var(--white);
  border-bottom: 1px solid #eee;
}

.header_hover .logo {
  background: url("../images/logo.svg") no-repeat center/contain;
}

.header_hover .header_menu {
  border-top: 1px solid #eee;
}

.header_hover .mainmenu {
  color: var(--bblack);
  border-bottom: 1px solid #eee;
}

.header_hover .mainmenu .main_title,
.header_hover .mainmenu .submenu > li > a {
  color: var(--white);
}
.header_hover .allmenu_open,
.header_hover .search_wrap {
  color: var(--bblack);
}
.header_hover .search_wrap input {
  border-bottom: 3px solid var(--bblack);
}
.header_hover .search_wrap input::placeholder {
  color: var(--bblack);
}
.header_hover .search_wrap .fa-magnifying-glass {
  color: var(--red);
}

/* 검색 */
.search_wrap {
  padding-top: 1.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.search_wrap .inner {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.search_wrap input {
  font-size: 1.6rem;
  background: none;
  border-bottom: 2px solid var(--white);
  width: 40rem;
  padding: 0.8rem;
}
.search_wrap input::placeholder {
  font-size: 1.6rem;
  color: var(--white);
}
.search_wrap button {
  all: unset;
  font-size: 2rem;
  margin-right: 1.3rem;
}

.lang_wrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: -1rem;
}

.lang {
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 900;
  font-family: var(--mont);
  letter-spacing: 0.8;
}

.lang_en {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.lang_btn i {
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.lang_active {
  transform: rotate(180deg);
}

/* 로고 */
.header_menu .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}
.logo {
  text-indent: -9999px;
  background: url("../images/logo_fff.svg") no-repeat center/contain;
  width: 277px;
  height: 28px;
  transition: var(--transition150);
}
/* 상단메뉴 */
.top_menu {
  display: flex;
}
.mainmenu {
  padding: 0 2.5rem;
  height: 100%;
}
.mainmenu > a {
  position: relative;
  display: block;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 0 2.5rem;
}
.sub_gnb {
  position: absolute;
  top: 100%;
  left: 0;
  width: 128rem;
  z-index: 1;
  display: none;
  transition: all 150ms ease-in;
}
.mainmenu > a:hover {
  text-decoration: none;
}
.mainmenu > a::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  opacity: 0;
  transition: all 100ms ease-in;
  background: var(--blue);
}
.mainmenu:hover > a::after {
  opacity: 1;
}

.mainmenu:hover .sub_gnb {
  display: block;
}

.main_title {
  position: relative;
  background: var(--blue);
  display: block;
  width: 27rem;
  font-size: 3rem;
  text-align: center;
  margin-top: 5.5rem;
  font-weight: bold;
}
.main_title::before {
  content: "";
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 1.2rem;
  width: 10rem;
  background: url("../images/stitle_bg01.png") no-repeat center/contain;
}
.submenu {
  position: absolute;
  top: 0;
  left: 27rem;
  width: 100%;
  vertical-align: top;
  background: var(--white);
}
.submenu::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--blue);
  content: "";
  z-index: -9;
}
.submenu > li {
  display: flex;
}
.submenu > li > a {
  display: block;
  width: 23.5rem;
  background: var(--d-blue);
  font-size: 1.7rem;
  padding: 1.6rem 2.8rem;
  border-bottom: 1px solid var(--l-blue);
}
.submenu > li > a:hover {
  font-weight: bold;
  text-decoration: none;
}
.sub_detail {
  display: flex;
  flex-wrap: wrap;
  color: var(--black);
  background: var(--white);
  font-size: 1.6rem;
  width: calc(100% - 50rem);
  padding: 1.6rem 0 1.6rem 2.5rem;
  border-bottom: 1px solid var(--l-grey);
}
.sub_detail li {
  width: calc(100% / 4);
  margin-bottom: 0.8rem;
}
.sub_detail li a {
  position: relative;
  display: block;
  padding-left: 1rem;
}
.sub_detail li a::before {
  position: absolute;
  content: "";
  top: 1rem;
  left: 0;
  width: 4px;
  height: 4px;
  background: #606060;
  border-radius: 100%;
}
.sub_detail li a:hover {
  color: var(--red);
}
.allmenu_open {
  all: unset;
  color: var(--white);
  cursor: pointer;
}

.allmenu_open .material-icons {
  font-size: 3rem;
}

/* ********** 헤더 영역 - 모바일버전 ********** */
@media screen and (max-width: 1100px) {
  .header_menu .inner {
    height: 71.98px;
    padding: 0 3rem;
  }
  .logo {
    width: 250px;
  }
  .top_menu {
    display: none;
  }
  .top_gnb {
    display: none;
  }
}

/* ========== 비쥬얼 영역 ========== */
.visual {
  margin-bottom: 5rem;
}
.vs_wrap {
  position: relative;
  overflow: hidden;
}
.vs_title {
  position: absolute;
  width: 128rem;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  color: var(--white);
  z-index: 99;
}

.vs_title .subject {
  margin-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
}
.vs_title .kor {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 500;
}
.vs_title .eng {
  font: 700 8rem/1.2 var(--mont);
}
.vs_title .desc {
  line-height: 1.5;
  font-size: 1.8rem;
}
.vs_slides {
  position: relative;
  height: 64rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.vs_slides {
  position: relative;
  width: auto;
}
.vs_slides li {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 64rem;
  opacity: 0;
  transition: 300ms ease-in;
}
.vs_slides .vs_active {
  opacity: 1;
}
.vs_controll {
  position: absolute;
  width: 128rem;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);
  display: flex;
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
}

.vs_controll li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 1.5rem;
}
.vs_controll li:hover {
  background: var(--white);
  color: var(--bblack);
}
.visual .inner {
  position: relative;
}

.vss_slide {
  position: absolute;
  display: flex;
  width: 40rem;
  height: 40rem;
  bottom: 5.5rem;
  right: 0;
  background: var(--white);
  border-radius: 2rem;
  padding: 2.5rem;
}
.vss_slide_list {
  display: flex;
  overflow: hidden;
  gap: 1rem;
}
.vss_slide_list li {
  width: 100%;
}
.vss_slide > a {
  width: 100%;
}
.vss_text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
  overflow: hidden;
}
.title {
  font-size: 2rem;
  color: var(--bblack);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1.3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.text {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 1rem;
}
.vss_text_box .more {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--black);
  padding: 0.4rem 3rem;
  border: 1px solid #ddd;
}
.vss_text_box:hover {
  text-decoration: underline;
}

.vss_img_box {
  position: relative;
  width: 100%;
  height: 20rem;
}
.vss_img_box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vss_controll {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.vss_controll li {
}
.vss_controll li button {
  width: 4.4rem;
  height: 4.4rem;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.vss_play {
  background: var(--navy) !important;
}
.vss_play .material-icons {
  font-size: 2rem;
}

.vss_slide_list .vss_active {
  display: flex;
}

/* ********** 비주얼 영역 - 모바일버전 ********** */
@media screen and (max-width: 1200px) {
  .vs_title {
    width: 100%;
    padding: 0 5%;
  }
  .vs_controll {
    width: 100%;
    padding: 0 5%;
  }
}

@media screen and (max-width: 1100px) {
  .visual {
    height: auto;
  }
  .vs_wrap {
    margin-bottom: 10rem;
  }
  .vss_slide {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: -6rem;
  }
  .vss_slide_list {
    width: 100%;
    height: 100%;
  }
  .vss_slide_list li {
    width: 100%;
    flex-direction: row;
    display: none;
    height: 27rem;
  }

  .vss_text_box {
    flex: 1 1 50%;
    padding: 2.5rem;
    border: 1px solid #ddd;
    height: 100%;
    margin-bottom: 0;
  }
  .vss_img_box {
    flex: 1 1 50%;
    border: 1px solid #ddd;
    overflow: hidden;
    height: 100%;
  }
}

@media screen and (max-width: 680px) {
  .vss_slide_list li {
    flex-direction: column;
    height: 80vw;
  }
  .vss_text_box {
    flex: 1 1 40%;
  }
  .vss_img_box {
    flex: 1 1 60%;
  }

  .vss_img_box img {
    object-fit: cover;
  }
}

/* ========== 공지 영역 ========== */
.notice {
  margin-bottom: 5rem;
}
.notice .inner {
  display: flex;
}
/* 공지사항 */
.notice_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 5rem;
  width: 50%;
}
.notice_tab,
.public_tab {
  display: flex;
  margin-bottom: 3rem;
  gap: 1%;
  width: 100%;
}

.public_tab {
  color: var(--white);
}
.notice_tab li,
.public_tab li {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 2rem 0 2rem 0;
  overflow: hidden;
  transition: all 150ms ease-in;
  cursor: pointer;
}
.notice_tab .active,
.public_tab .active {
  color: var(--white);
  background: var(--navy);
  box-shadow: 4px 4px 5px rgb(0 0 0 / 10%);
  font-weight: bold;
}
.notice_tab li:hover,
.public_tab li:hover {
  font-weight: bold;
  color: var(--white);
  background: var(--navy);
  box-shadow: 4px 4px 5px rgb(0 0 0 / 10%);
}
.notice_tab li:hover a .public_tab li:hover a {
  text-decoration: none;
}

.notice_more {
  position: absolute;
  top: 0.8rem;
  right: 0;
  background: url("../images/plus.png") no-repeat center/contain;
  text-indent: -9999px;
  width: 3rem;
  height: 3rem;
}

.news_list {
  display: none;
}

.cont_active {
  display: block;
}

.news_list li {
  position: relative;
  margin-top: 1.4rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -0.8;
}
.news_list li::before {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 0.3rem;
  height: 0.3rem;
  background: var(--navy);
}

.news_list .news_first {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 3rem;
  width: 100%;
  margin-top: -1.4rem;
}
.news_first::before {
  display: none;
}
.news_first a {
  width: 80%;
}
.news_first .title {
  line-height: 2;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.news_first .desc {
  font-size: 1.6rem;
  color: var(--d-grey);
  word-break: keep-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news_first .date {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 4px solid var(--l-grey);
  margin-right: 2rem;
  font-family: var(--mont);
  color: #121212 !important;
  font-size: 1.4rem;
  padding: 1rem 1.7rem;
}

.date_b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.6rem;
  height: 8.6rem;
  border: 4px solid var(--l-grey);
  font-family: var(--mont);
  font-size: 2.8rem;
  font-weight: bold;
  margin-right: 2rem;
}
.news_first .date .day {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: -0.8rem;
}

.news_list .tit {
  width: 80%;
  font-size: 1.7rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.new {
  position: relative;
  padding-left: 2rem;
}
.new::before {
  position: absolute;
  content: "N";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 0.5rem;
  background: var(--bblack);
  color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  line-height: 1.3;
  letter-spacing: -0.1;
  text-align: center;
}
.news_list .date {
  font-size: 1.6rem;
  color: var(--d-grey);
}

/* 카드뉴스, 팝업존 */
.card_pop_wrap {
  display: flex;
  width: 50%;
  gap: 3rem;
}
.card_pop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.card_slides,
.pop_slides {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card_slides li,
.pop_slides li {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 300ms ease-in;
  border: 1px solid var(--l-grey);
}
.card_slides .card_active,
.pop_slides .pop_active {
  opacity: 1;
}
.card_slides li img,
.pop_slides li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_controll {
  display: flex;
  justify-content: end;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  gap: 1rem;
  margin-top: 1.5rem;
}
.card_controll i {
  font-size: 1.3rem;
  margin-left: 0.8rem;
  cursor: pointer;
}

/* ********** 공지 영역 - 모바일버전 ********** */
/* @media screen and (max-width:) {
  
} */

@media screen and (max-width: 680px) {
  .notice .inner {
    flex-direction: column;
    gap: 3rem;
  }
  .notice_wrap {
    width: 100%;
  }
  .card_pop_wrap {
    width: 100%;
  }
  .card_pop {
    height: 60vw;
  }
}

/* ========== 행사 영역 ========== */
.forum {
  background: var(--l-grey);
  padding: 4rem 0 6rem;
}

.forum .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forum_list_wrap {
  position: relative;
  width: 100%;
}

.forum_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
}

.forum_list li {
  display: flex;
}

.forum_list li:first-child {
  grid-row: 1/4;
  flex-direction: column;
}

.forum_list li > a {
  flex: 1 1 50%;
  position: relative;
  height: 10.5vw;
  margin-right: 2rem;
  overflow: hidden;
}
.forum_list li:first-child > a {
  flex: 1 1 100%;
  height: 18vw;
  width: 100%;
  margin-bottom: 1rem;
}
.forum_list img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.forum_txt {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: keep-all;
}
.forum_status {
  color: var(--purple);
  border: 1px solid var(--purple);
  padding: 0.5rem;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.d_day {
  background: var(--purple);
  color: var(--white);
  font-weight: 700;
}
.forum_txt .tit {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  line-height: 1.3;
  padding-top: 1rem;
  margin-bottom: 1.7rem;
  color: var(--black);
}

.forum_list li:first-child .tit {
  padding: 0;
}
.forum_txt .date,
.forum_txt .place {
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  color: var(--black);
  opacity: 0.9;
}

.place {
  font-weight: 300;
  margin-top: -1rem;
}

.forum_controll,
.forum_more {
  display: none;
}

/* ********** 포럼 영역 - 모바일버전 ********** */
@media screen and (max-width: 1080px) {
  .forum_list_wrap {
    width: 100%;
    overflow: hidden;
  }
  .forum_list {
    width: auto;
    grid-template-columns: repeat(4, 40vw);
    grid-template-rows: none;
    grid-column-gap: 1rem;
    grid-row-gap: 0;
  }
  .forum_list li {
    flex-direction: column;
    height: 38vw;
  }
  .forum_list li:first-child {
    grid-row: 1;
  }
  .forum_list li > a {
    flex: 1 1 70%;
    margin-right: 0;
  }
  .forum_controll {
    position: absolute;
    display: block;
    top: 28%;
    width: 100%;
  }
  .forum_prev {
    position: absolute;
    background: none;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    cursor: pointer;
  }
  .forum_next {
    position: absolute;
    background: none;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .forum_more {
    position: absolute;
    display: block;
    top: 1rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
  }
  .forum_more img {
    width: 100%;
  }
}
/* ========== 간행물 영역 ========== */
.public {
  position: relative;
  padding-top: 4rem;
}
.public::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  background: var(--l-grey);
  z-index: -9999;
}
.public::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1580px;
  height: 40rem;
  background: url("../images/grey_bg.jpeg") no-repeat center/cover;
  z-index: -999;
}

.public .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.public_wrap {
  padding: 5rem;
  background: var(--white);
  box-shadow: 7px 7px 50px rgb(0 0 0 / 5%);
  display: none;
  width: 100%;
}

.pub_active {
  display: block;
}
.public_gnb {
  display: flex;
}

.public_menu {
  min-width: 17.5rem;
  margin-right: 5rem;
}

.public_menu li {
  position: relative;
  display: block;
  width: 110%;
  padding: 1.6rem 0 1.3rem;
  color: var(--black);
  font-size: 1.8rem;
  border-bottom: 1px solid var(--l-grey);
  cursor: pointer;
}
.public_menu li:hover {
  text-decoration: underline;
}
.public_menu .active {
  color: var(--blue);
  font-weight: bold;
  border-bottom: 3px solid var(--blue);
}
.public_menu li::after {
  content: ">";
  position: absolute;
  display: block;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-35%);
}
.public_menu .active::after {
  color: var(--blue);
}

.public_cont,
.news_cont {
  display: none;
  flex: 1 1 80%;
  gap: 4rem;
}

.pubcont_active {
  display: flex;
}
.public_cont li,
.news_cont li {
  width: 25%;
}

.public_cont li a,
.news_cont li a {
  position: relative;
  display: flex;
  flex-direction: column;
}
.report_status {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 3.6rem;
  color: var(--white);
  padding: 0 1rem;
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
  font-weight: 500;
  background: var(--orange);
  z-index: 99;
}
.public_img {
  position: relative;
  border: 1px solid var(--l-grey);
  margin-bottom: 2.1rem;
  height: 30rem;
  overflow: hidden;
}

.public_img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.news_cont .public_img img {
  top: 0;
  transform: translateY(0);
}
.public_cont .tit,
.news_cont .tit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1080px) {
  .public_gnb {
    flex-direction: column;
    align-items: flex-start;
  }

  .public_menu {
    display: flex;
    justify-content: start;
    margin-bottom: 3rem;
    margin-right: 0;
    width: 100%;
  }
  .public_menu li {
    border-bottom: none;
    padding: 0;
    padding-bottom: 0.5rem;
    margin-right: 2rem;
    width: 100%;
  }
  .public_menu li::after {
    content: "";
  }

  .public_cont,
  .news_cont {
    gap: 2rem;
  }
}
/* ========== 소개 영역 ========== */
.about {
  padding: 5rem 0 8rem;
  background: url("../images/info_bg.png") no-repeat left bottom;
  background-size: cover;
}
.about .inner {
}
.about_title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
.about_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70% 30%;
  gap: 2rem;
}

/* 브로슈어 */
.brochure_area {
  grid-row: 1/3;
  border: 5px solid var(--l-grey);
  background: var(--white);
}
.brochure_area article {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 0;
  margin: 0 3.6rem 0 2.5rem;
}

.brochure_area article img {
  box-shadow: 6px 8px 14px #00000029;
}

.brochure_area:first-child article {
  border-bottom: 1px dashed var(--l-grey);
}
.bro_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bro_txt h3 {
  font-family: var(--mont);
  font-weight: 900;
  padding-top: 2rem;
  font-size: 2.6rem;
  line-height: 1.1;
}
.blue {
  color: var(--navy);
}
.red {
  color: var(--red);
}
.bro_txt a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--d-grey);
  font-weight: 500;
}
.bro_txt a span {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

/* 홍보영상 */
.video_article {
  position: relative;
}
.video_article::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.video_article::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  background: url("../images/play.png") no-repeat center/contain;
  content: "";
}

.video_article h3 {
  position: absolute;
  top: 3.5rem;
  left: 3rem;
  font-size: 2.4rem;
  color: var(--white);
  z-index: 999;
}

.video_article a {
  position: relative;
  display: block;
  height: 100%;
}

.video_article a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 1px solid white;
  content: "";
  opacity: 0;
  transition: all 300ms ease-out;
}

.video_article a:hover::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: 88%;
  border: 6px solid white;
  content: "";
  opacity: 1;
}

.video_article img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 언론보도 */
.press_article {
  position: relative;
  border: 5px solid var(--l-grey);
  background: var(--white);
  padding: 2.5rem;
}
.press_article h3 {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}
.press_article .more {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  width: 3rem;
  height: 3rem;
  text-indent: -9999px;
  background: url("../images/plus.png") no-repeat center/contain;
}
.press_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}
.press_list li {
  position: relative;
  padding-left: 1.5rem;
}
.press_list li::before {
  content: "";
  position: absolute;
  top: 1.3rem;
  left: 0;
  width: 0.3rem;
  height: 0.3rem;
  background: var(--black);
  border-radius: 100%;
}
.press_list a {
  font-size: 1.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 1.5;
}
.press_list span {
  font-size: 1.5rem;
  font-weight: 200;
}
.press_list .date {
  position: relative;
  padding-right: 1rem;
  margin-right: 1rem;
}
.press_list .date::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0.8rem;
  width: 2px;
  height: 1rem;
  background: var(--l-grey);
}
/* 조직 및 부서 */
.org_article a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4.2rem 3.5rem;
  font-size: 2rem;
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  width: 100%;
  height: 100%;
}
.org_article a img {
  margin-right: 2rem;
}
.org_article a::after {
  content: ">";
  position: absolute;
  right: 3.5rem;
}

/* SNS */
.sns_article {
  border: 5px solid var(--l-grey);
  background: var(--white);
}
.sns_link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--black);
}
.sns_link li {
  width: 50%;
  padding-left: 3rem;
}
.sns_link li:first-child {
  border-right: 1px solid var(--l-grey);
}
.sns_link li a {
  display: flex;
  align-items: center;
  width: 100%;
}
.sns_link li a:hover {
  text-decoration: none;
}
.sns_link li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}
.fa-facebook-f {
  border: 2px solid #2555b1;
  color: #2555b1;
}
.fa-youtube {
  border: 2px solid #d12b2f;
  color: #d12b2f;
}
/* ********** 소개 영역 - 모바일버전 ********** */
@media screen and (max-width: 960px) {
  .about_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 20% 30%;
  }
  .brochure_area {
    grid-row: 1/1;
    display: flex;
  }
  .brochure_area article {
    padding: 0;
    margin: 0 0 1rem 2rem;
    width: 50%;
    border-bottom: none !important;
  }
  .brochure_area article:first-child {
    border-right: 1px dashed #ddd;
  }
  .brochure_area article img {
    position: absolute;
    right: 1.5rem;
    bottom: 3rem;
    width: 50%;
  }
  .bro_txt h3 {
    font-size: 2.3rem;
  }
  .press_article {
    grid-row: 2/4;
  }
  .sns_link li a {
    flex-direction: column;
    gap: 1rem;
  }
  .sns_link li a i {
    margin-right: 0;
  }
}

@media screen and (max-width: 960px) {
  .about_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 40vw);
    grid-template-rows: repeat(3, 40vw) 15vw;
  }

  .brochure_area {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
  }

  .brochure_area article img {
    width: 35%;
    right: 3rem;
  }
  .video_article {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .press_article {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .sns_link li {
    padding-left: 0;
  }
  .sns_link li a {
    gap: 0.5rem;
  }
  .sns_link li a i {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .about_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 20vh);
    grid-template-rows: repeat(3, 20vh) repeat(2, 6vh);
  }

  .org_article {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .sns_article {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .sns_link li a {
    flex-direction: row;
    padding-left: 2rem;
  }
  .sns_link li a i {
    margin-right: 0.5rem;
  }
}



/* ========== 배너 영역 ========== */
.banner {
  padding: 3.5rem 0;
}
.banner .inner {
  display: flex;
  overflow: hidden;
}

.banner_controll {
  display: flex;
}

.banner_controll {
  border: 1px solid var(--l-grey);
  border-right: 0;
  margin-right: 2.5rem;
}
.banner_controll a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  opacity: 0.8;
  font-size: 1.3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-right: 1px solid var(--l-grey);
}
.banner_slides {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner_list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 2rem;
  transition: 200ms ease-in;
}
.banner_list .animated {
}
/* ========== 푸터 영역 ========== */
.footer {
  background: #1c1f3a;
  color: var(--white);
  padding: 4.7rem 0 5.6rem;
  font-size: 1.6rem;
  font-weight: 200;
  letter-spacing: 0.5;
}
.footer .inner {
  position: relative;
}
.footer_menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: -1.3rem;
}

.footer_menu li {
}
.footer_menu li a {
  position: relative;
  padding: 0 1.3rem;
}
.footer_menu li a::after {
  position: absolute;
  top: 0.7rem;
  right: 0;
  content: "";
  width: 1px;
  height: 1rem;
  background: var(--white);
  opacity: 0.3;
}

.footer_menu li:first-child a {
  color: var(--red);
}
.footer_menu li:last-child a::after {
  display: none;
}

.related_site {
  position: absolute;
  top: 0;
  right: 0;
}
.site_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bebebe;
  padding: 0.8rem 2rem 0.8rem;
}
.site_label i {
  margin-left: 4rem;
  opacity: 0.4;
}

.site_label_active {
  background: var(--white);
  color: var(--black);
}

.site_label_active i {
  transform: rotate(180deg);
}

.site_list {
  position: absolute;
  bottom: calc(100% + 1rem);
  width: 100%;
  padding-bottom: 1rem;
  background: var(--white);
  visibility: hidden;
  opacity: 0;
}
.site_list li a {
  display: block;
  padding: 1rem 2rem;
  color: var(--black);
  font-weight: 300;
}

.site_list_active {
  opacity: 1;
  visibility: visible;
}

.site_info_top {
  display: flex;
  flex-wrap: wrap;
}
.site_info_top address,
.site_info_top span {
  font-style: normal;
  margin-right: 2rem;
  line-height: 1.6;
}

/* ********** 푸터 영역 - 모바일버전 ********** */
@media screen and (max-width: 1100px) {
  .related_site {
    top: 65%;
  }
}

@media screen and (max-width: 820px) {
  .footer_menu li {
    width: 33.3%;
    margin-bottom: 1rem;
  }
  .footer_menu::after {
    position: absolute;
    content: '';
    left: -1rem;
    top: 0;
    width: 1.3rem;
    height: 100%;
    background: #1c1f3a;
  }
  .footer_menu li a::after {
    right: 100%;
  }
  .footer_menu li:last-child a::after {
    display: block;
  }

  .related_site {
    position: relative;
    margin: 2rem 0;
    width: 100%;
  }
  .site_label {
    width: 100%;
  }
}

/* ********** 전체 ********** */

@media screen and (max-width: 1500px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 1100px) {
}
